/*Responsive*/
@media (max-width:999px) {
    .galeria {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: auto;
        grid-column-gap: 2px;
        grid-row-gap: 10px;
        justify-items: center;
        align-items: center;
        padding: 10px 0px;
    }

    nav ul li {
        font-size: 1.8rem;
    }

    .diegos {
        display: flex;
        flex-direction: column;
    }

    .imgBio {
        width: 300px;
        height: 200px;
    }
}